# 1 Preparation

## 1

In [30]:
import pandas as pd
import numpy as np

In [31]:
airbnb = pd.read_csv('/content/airbnb-bangkok-score.csv',sep='\t')

In [32]:
airbnb

,price,minimum_nights,maximum_nights,instant_bookable,neighbourhood,reviews_per_month,calculated_host_listings_count,number_of_reviews,x1,x2,...,x24,x25,x26,x27,x28,x29,x30,highScore,firstReview,lastReview
0,2300.0,1,1125,t,"Bangkok, Thailand",0.04,8,1,O,N,...,P,N,E,P,B,O,H,False,2019,2019
1,360.0,1,1125,f,"Khet Phra Nakhon, Krung Thep Maha Nakhon, Thai...",0.04,1,1,L,U,...,M,N,M,T,W,K,L,True,2020,2020
2,1017.0,1,180,t,NaN,0.13,188,2,K,K,...,A,T,Q,G,J,B,D,True,2020,2021
3,3500.0,1,30,t,NaN,0.04,5,1,U,D,...,L,M,N,M,G,X,I,True,2019,2019
4,729.0,1,180,t,NaN,0.28,188,8,S,H,...,V,G,U,K,O,M,P,True,2019,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,950.0,5,1125,f,"เขต บางกะปิ, กรุงเทพมหานคร, Thailand",0.31,2,9,U,L,...,H,A,G,Y,F,W,F,True,2019,2020
1996,1000.0,1,1125,t,"Khet Phra Nakhon, Krung Thep Maha Nakhon, Thai...",0.72,1,32,Y,R,...,R,W,F,R,B,W,V,False,2018,2020
1997,900.0,1,1125,f,NaN,0.18,2,5,E,N,...,N,D,B,G,H,R,O,True,2019,2020
1998,10300.0,1,1125,f,"Phayathai, Krung Thep Maha Nakhon, Thailand",0.08,9,2,C,D,...,S,J,S,T,F,F,S,True,2019,2020
1999,2575.0,1,60,f,NaN,0.21,8,6,Y,O,...,T,X,X,J,F,H,Y,True,2019,2020

## 2

In [8]:
print(str(len(airbnb)) + " cases")

2000 cases

In [9]:
airbnb.dtypes

price                             float64
minimum_nights                      int64
maximum_nights                      int64
instant_bookable                   object
neighbourhood                      object
reviews_per_month                 float64
calculated_host_listings_count      int64
number_of_reviews                   int64
x1                                 object
x2                                 object
x3                                 object
x4                                 object
x5                                 object
x6                                 object
x7                                 object
x8                                 object
x9                                 object
x10                                object
x11                                object
x12                                object
x13                                object
x14                                object
x15                                object
x16                                object
x17                                object
x18                                object
x19                                object
x20                                object
x21                                object
x22                                object
x23                                object
x24                                object
x25                                object
x26                                object
x27                                object
x28                                object
x29                                object
x30                                object
highScore                            bool
firstReview                         int64
lastReview                          int64
dtype: object

In [10]:
len(airbnb.columns)

41

## 3.

In [11]:
y = airbnb.highScore

## 4.

In [13]:
X = airbnb.drop("highScore", axis=1)
X.shape

(2000, 40)

In [24]:
N = airbnb.shape[0]
R = np.random.normal(size=(N, 40))
XR = np.column_stack((X, R))
XR.shape

(2000, 80)

## 5.

Because highScore is our dependent variable and we are trying to predict it using solely other variables.

# 2

## 1.

In [33]:
Xj = XR[:,:10]

## 2.

In [38]:
Xjs = pd.get_dummies(Xj, columns=['instant_bookable', 'neighbourhood', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7',
                                  'x8', 'x9', 'x9', 'x10', 'x11', 'x11', 'x12', 'x13', 'x14', 'x15', 'x16', 'x17',
                                  'x18', 'x19', 'x20', 'x21', 'x22', 'x23', 'x24', 'x25', 'x26', 'x27', 'x28', 'x29',
                                  'x30'])

ValueError: ignored